main{
    width: 100vw;
    height: 100vh;

    background-image: url("../assets/Images/bgdsh.jpg");
    background-position: bottom;
    background-size: cover;
}

#EMS{
    font-weight: bold;
}

#btnLogOut{
    width: fit-content;
}