body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
}

.container{
    max-width: 1000px;
    height: fit-content;
    background-color: rgba(134, 134, 134, 0.25);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    padding: 40px;
    border-radius: 10px;
}

@media all and (max-width: 750px) {
    .container{
        grid-template-columns: 1fr;
    }

    p{
        font-size: 18px;
    }

    body{
        align-items: start;
    }
}